<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>MOVIERECOMMENDATIONSYSTEM</title>
  </head>
  <body class="bg-gray-200 -my-8">
    <div class="w-full h-vmax bg-no-repeat bg-cover bg-opacity-50" style=" background-blend-mode: darken; background:rgba(0, 0, 0, 0.7); background-image: url('/static/About.jpg')">
    <header class="text-gray-600 body-font -my-8">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <nav class="navbar navbar-dark">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="../static/logo.jpg" alt="hero" width="50" height="24">
              </a>
            </div>
          </nav>
          <a href="/" class=""><span class="ml-3 text-white text-3xl font-bold"><span style="color: #e67e22">Movies Recommender</span></span></a>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
          <a href="/" class="mr-5 hover:text-gray-900" style="color: orangered;">Home</a>
          <a href="/about" class="mr-5 hover:text-gray-900" style="color: orangered;">About</a>
          <a href="/contact" class="mr-5 hover:text-gray-900" style="color: orangered;" >Contact</a>
          <a href="/recommendation" class="mr-5 hover:text-gray-900" style="color: orangered;">Recommendation</a>
        </nav>
      </div>
    </header><hr>
      <section class="text-gray-900 body-font -my-8">
        <div class="container px-5 py-24 mx-auto">
          <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
              <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
            </svg>
            <p class="leading-relaxed text-2xl text-yellow-500">My name is <b>Ujjawal Singh Tolia</b> from Graphic Era Hill University, Dehradun pursuing <B>B. Tech Computer Science and Engineering</B> and I am from Haldwani. I am good in python programming, Machine learning, Data Structure  and Algorithms and full stack in web development. I started learning programming from class 9. I have developed several mini projects. I have an interest in making the projects in machine learning and web development. So I have little bit experience on How to do work on projects. I am a very quick learner and manage my time easily. </p>
            <span class="inline-block h-1 w-10 rounded bg-gray-500 mt-4 mb-6"></span>
            <h2 class="font-bold text-3xl text-transparent bg-clip-text bg-gradient-to-r from-blue-700 to-blue-400">Ujjawal Singh Tolia</h2>
            <p class="text-2xl font-bold text-3xl text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-blue-900">(Computer Science Student)</p>
          </div>
        </div>
      </section>
      <section class="text-rose-600 body-font -my-8">
        <div class="container mx-auto flex flex-col px-5 py-24 justify-center items-center">
          <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="../static/About.jpg">
          <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-purple-800">Graphic Era Hill University, Dehradun</h1>
            <p class="mb-3 leading-relaxed font-bold text-white">A Coder, Good in Python programming, Machine learning, Data Science Projects.
              If any one want any help feel free to contact me.
            </p>
            <p class="text-sm mt-2 text-lime-900 mb-4 w-full text-white">Social media</p>
            <div class="flex items-center space-x-6 lg\:space-x-12">
              <a href="https://wa.me/qr/2IVV5772LJS4H1"><button class="flex mx-auto text-white bg-green-500 border-0 py-2 px-8 focus:btn-outline-success hover:bg-green-600 rounded text-lg">
                <span class="ml-4 flex items-start flex-col leading-none">
                  <span class="title-font font-medium">Whatsapp</span>
                </span>
              </button></a>
              <a href="https://www.linkedin.com/in/ujjawal-singh-tolia-71136a278"><button class="flex mx-auto text-white bg-blue-500 border-0 py-2 px-8 focus:outline-secondary hover:bg-blue-600 rounded text-lg">
                <span class="ml-4 flex items-start flex-col leading-none">
                  <span class="title-font font-medium">LinkedIn</span>
                </span>
              </button></a>
              <a href="https://www.instagram.com/ujjawaltolia_2703"><button class="flex mx-auto text-white bg-red-500 border-0 py-2 px-8 focus:outline-danger hover:bg-red-600 rounded text-lg">
                <span class="ml-4 flex items-start flex-col leading-none">
                  <span class="title-font font-medium">Instagram</span>
                </span>
              </button></a>
            </div>
          </div>
        </div>
      </section>
      </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>